[submodule "ethereum/hello_forge/lib/forge-std"]
	path = ethereum/hello_forge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethereum/hello_forge/WETH9/lib/forge-std"]
	path = ethereum/hello_forge/WETH9/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethereum/WETH9/lib/forge-std"]
	path = ethereum/WETH9/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethereum/eip712_forge/lib/forge-std"]
	path = ethereum/eip712_forge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
